PORT=5002
TEMPLATE_PATH=src/template
MAILER_HOST=smtp.mailgun.org
MAILER_PORT=587
MAILER_AUTH_USER=postmaster@sandboxcc9aaf2d71374e2db01bf7f017816ae5.mailgun.org
MAILER_AUTH_PASS=51ccae996beb735b9d9667852c2c797c-86220e6a-0843e5d9
MAILER_IGNORE_TLS=true
MAILER_SECURE=false
MAILER_TO=jtnguyencao@gmail.com
MAILER_FROM=AuCoeur Service Contact <contact@aucoeur.com>
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,https://lecorvier-demo.netlify.app,https://chateaulecorvier.netlify.app,https://diane-demo.netlify.app,https://lecorvier.com,https://diane-cozy-houses.com